body {
	background-color:#5ac3b0;
}

h1 {
	font-family: 'Century Schoolbook';
	text-align: center;
	font-size: 64px;
	padding-bottom: 20px;
	text-shadow: 2px 2px 3px gray;
}

p {
	font-family: 'Trebuchet MS';
	text-align: center;
	font-size: 32px;
	padding: 15px;
}


label {
	font-family: 'Calibri';
	font-size: 64px;
}



ol{
	padding:75px;
	position:relative;
	margin: 0 auto;
}
li{
	padding:25px;
}

input{
	border: solid #cccccc;
	border-width: 4px;
	border-radius: 12px;
}

input[type="submit"]{
	font-size:24px;
}
input[type="checkbox"]{
	height:48px;
	width:48px;
}

input:focus{
	border: 4px solid black;
}

form{ 
	padding: 20px;
	border-radius:5px;
	max-width: 1000px;
	margin: 0 auto;
	border: 2px solid #c0c0c0;
	position:relative;
	background-color: #99ccff;
}

@media only screen and (max-width:800px){
	h1{
		font-size:32px;
	}
	form {
		padding: 10px;
	}
	input{
		background-color: #cccccc;
	}
}

